@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Ubuntu&display=swap');
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.logo {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 33%;
    border: 5px solid white;
    border-radius: 50px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.navlist {
    width: 70%;
    display: flex;
    padding: 2px;
    text-align: center;
}

.navlist li {
    list-style: none;
    padding: 10px;
}

.navlist li a {
    text-decoration: none;
    text-align: center;
    color: aqua;
    padding: 10px;
    font-size: 18px;
}

.navlist li a:hover {
    cursor: pointer;
    color: red;
}

.rightNav {
    width: 30%;
    text-align: right;
    display: flexbox;
    padding: 0 23px;
}

.btn {
    cursor: pointer;
    padding: 5px;
    border-radius: 15px;
}

.btn:hover {
    color: red;
}

#search {
    padding: 3px;
    font-size: 16px;
    border: 2px solid black;
    text-align: center;
    color: red;
    border-color: aqua;
    background-color: aqua;
    border-radius: 5px;
}

.background {
    background: rgba(0, 0, 0, 0.7) url("background.jpg");
    background-size: cover;
    background-blend-mode: darken;
}

.boxmain {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 75%;
}

.firstsec {
    height: 100vh;
}

.firsthalf {
    width: 80%;
    justify-content: center;
}

.secondhalf img {
    width: 78%;
    border-radius: 38%;
    padding: 0px 0;
    border: 1px solid white;
    display: block;
    margin: auto;
}

.textbig {
    align-items: center;
    font-style: italic;
    font-size: 25px;
    text-align: center;
    color: aqua;
    padding: 10px;
}

.textsmall {
    padding: 10px;
}

.btn1 {
    align-items: center;
    text-align: center;
    cursor: pointer;
    justify-content: center;
    background: none;
    border: 2px solid white;
    border-radius: 150px;
    color: aqua;
    padding: 8px 27px;
    margin: 5px 3px;
}

.btn1 a {
    cursor: pointer;
    background: none;
    color: aqua;
}

.btn1 a:hover {
    color: red;
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 90%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
}

.section-left {
    flex-direction: row-reverse;
    padding: 0px 5px;
}

.paras {
    padding: 0px 65px;
}

.sectiontag {
    padding: 9px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.thumbnail2 img {
    width: 250px;
    border: 2px solid greenyellow;
    border-radius: 50px;
    margin-top: 19px;
}

.thumbnail1 img {
    width: 291px;
    border: 2px solid red;
    border-radius: 50px;
    margin-top: 19px;
}

.thumbnail img {
    width: 250px;
    border: 2px solid white;
    border-radius: 50px;
    margin-top: 19px;
}

.sectiontag {
    padding: 5px;
}

.contact {
    background-color: #afb1b1;
    height: 95vh;
}

.cont {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 4px;
    font-size: 39px;
    color: #02cb48;
    padding-top: 21px;
}

.cont1 {
    margin: auto;
    max-width: 500px;
}

.cont1 input {
    width: 100%;
    color: rgb(175, 177, 177);
    background-color: black;
    cursor: pointer;
    font-size: 18px;
    border: 2px solid aqua;
    border-radius: 7px;
    margin: 14px 0px;
    padding: 5px 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-dark {
    padding: 4px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    margin: auto;
    cursor: pointer;
}

.btn-dark:hover {
    background-color: red;
}

.me {
    width: 100%;
    color: rgb(175, 177, 177);
    background-color: black;
    cursor: pointer;
    font-size: 18px;
    border: 2px solid aqua;
    border-radius: 7px;
    margin: 14px 0px;
    padding: 5px 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.copyright {
    text-align: center;
    padding: 30px 0;
    background-color: black;
    color: antiquewhite;
}

.burger {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}

.line {
    width: 30px;
    background-color: white;
    height: 5px;
    margin: 3px 7px;
}

.google {
    display: flex;
    padding: 8px;
}

.link img {
    width: 89px;
    padding: 9px 6px;
    border-radius: 35px;
}

.link1 img {
    width: 89px;
    padding: 0px 5px;
    border-radius: 15px;
}

.link2 img {
    width: 80px;
    padding: 12px 10px;
    border-radius: 15px;
}

@media only screen and (max-width:1268px) {
    .navlist {
        flex-direction: column;
    }
    .navbar {
        flex-direction: column;
        transition: all 0.7s ease-out;
        height: 442px;
        width: 1249px;
    }
    .background {
        width: 1249px;
    }
    .burger {
        display: block;
    }
    .h-nav-resp {
        height: 72px;
    }
    .v-bar-resp {
        opacity: 0;
    }
    .boxmain {
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .section {
        flex-direction: column-reverse;
        margin: 10px 130px;
        width: 1500px;
        padding: 0px 200px;
        font-size: 32px;
    }
    .textsmall {
        text-align: center;
    }
    .textbig {
        text-align: center;
    }
    .button {
        text-align: center;
    }
    .paras {
        padding: 0px;
    }
    .contact {
        width: 1249px;
    }
    .copyright {
        text-align: center;
        padding: 37px 0;
        width: 1249px;
    }
}

@media only screen and (max-width:878px) {
    .navlist {
        flex-direction: column;
    }
    .navbar {
        flex-direction: column;
    }
    .rightNav {
        text-align: center;
    }
    .boxmain {
        flex-direction: column-reverse;
        max-width: 100%;
    }
}

@media only screen and (max-width:600px) {
    .navlist {
        flex-direction: column;
    }
    .navbar {
        flex-direction: column;
    }
    .rightNav {
        text-align: center;
    }
    #search {
        width: 100%;
    }
    .boxmain {
        flex-direction: column-reverse;
        max-width: 100%;
    }
}

@media only screen and(max-width:310px) {
    .navlist {
        flex-direction: column;
    }
    .navbar {
        flex-direction: column;
    }
    .rightNav {
        text-align: center;
    }
    #search {
        width: 100%;
    }
    .boxmain {
        flex-direction: column-reverse;
        max-width: 100%;
    }
}